<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VehicleLicense</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VehicleLicense.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/dark-admin-bootstrap-4-premium-free-download/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/dark-admin-bootstrap-4-premium-free-download/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="~/dark-admin-bootstrap-4-premium-free-download/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="~/dark-admin-bootstrap-4-premium-free-download/https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/dark-admin-bootstrap-4-premium-free-download/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/dark-admin-bootstrap-4-premium-free-download/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/dark-admin-bootstrap-4-premium-free-download/img/favicon.ico">
    <!-- Tweaks for older IEs-->


</head>
<body>

    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="search-panel">
                <div class="search-inner d-flex align-items-center justify-content-center">
                    <div class="close-btn">Close <i class="fa fa-close"></i></div>
                    <form id="searchForm" action="#">
                        <div class="form-group">
                            <input type="search" name="search" placeholder="What are you searching for...">
                            <button type="submit" class="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-fluid d-flex align-items-center justify-content-between">
               
                <div class="right-menu list-inline no-margin-bottom">
                    <div class="list-inline-item"><a href="#" class="search-open nav-link"><i class="icon-magnifying-glass-browser"></i></a></div>
                 
                    <!-- Log out               -->
                    <div class="list-inline-item logout"><a id="logout" href="~/Admin/Logout" class="nav-link">Logout <i class="icon-logout"></i></a></div>
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="~/dark-admin-bootstrap-4-premium-free-download/img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h5">Admin</h1>
                </div>
            </div>
            <span class="heading">Main</span>
            <ul class="list-unstyled">
                <li class="active"><a asp-controller="Admin" asp-action="Index"> <i class="icon-home"></i>Home </a></li>
                <li class="active"><a asp-action="Add" asp-controller="Admin"> <i class="icon-home"></i>Add </a></li>
            </ul>
        </nav>
 
        @RenderBody()

        <footer class="footer">
            <div class="footer__block block no-margin-bottom">
                <div class="container-fluid text-center">
                    <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                    <p class="no-margin-bottom">2018 &copy; Your company. Download From <a target="_blank" href="https://templateshub.net">Templates Hub</a>.</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- JavaScript files-->
    <script src="~/dark-admin-bootstrap-4-premium-free-download/vendor/jquery/jquery.min.js"></script>
    <script src="~/dark-admin-bootstrap-4-premium-free-download/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="~/dark-admin-bootstrap-4-premium-free-download/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/dark-admin-bootstrap-4-premium-free-download/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="~/dark-admin-bootstrap-4-premium-free-download/vendor/chart.js/Chart.min.js"></script>
    <script src="~/dark-admin-bootstrap-4-premium-free-download/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/dark-admin-bootstrap-4-premium-free-download/js/charts-home.js"></script>
    <script src="~/dark-admin-bootstrap-4-premium-free-download/js/front.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("script", required: false)

</body>
</html>
