<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VehicleLicense</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VehicleLicense.styles.css" asp-append-version="true" />


    <link rel="shortcut icon" type="image/x-icon" href="~/license/assets/images/favicon.png" />
    <link href="~/license/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;display=swap"
          rel="stylesheet">
    <link href="~/license/https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/license/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/license/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/license/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/license/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/license/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/license/assets/css/slick.css">
    <link rel="stylesheet" href="~/license/assets/css/chosen.min.css">
    <link rel="stylesheet" href="~/license/assets/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/license/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/license/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="~/license/assets/js/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="~/license/assets/css/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="~/license/assets/css/mobile-menu.css">
    <link rel="stylesheet" href="~/license/assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/license/assets/css/style.css">


</head>
<body class="home">
    <header class="header style7">
        <div class="header-nav-container">
            <div class="container">
                <div class="header-nav-wapper main-menu-wapper">
                   @*  <div class="vertical-wapper block-nav-categori">
                        <div class="block-title">
                            <span class="icon-bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="text">All Categories</span>
                        </div>
                        <div class="block-content verticalmenu-content">
                            <ul class="tanajil-nav-vertical vertical-menu tanajil-clone-mobile-menu">
                                <li class="menu-item">
                                    <a href="#" class="tanajil-menu-item-title" title="New Arrivals">New Arrivals</a>
                                </li>
                                <li class="menu-item">
                                    <a title="Hot Sale" href="#" class="tanajil-menu-item-title">Hot Sale</a>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a title="Accessories" href="#" class="tanajil-menu-item-title">Accessories</a>
                                    <span class="toggle-submenu"></span>
                                    <ul role="menu" class=" submenu">
                                        <li class="menu-item">
                                            <a title="Audio" href="#" class="tanajil-item-title">Audio</a>
                                        </li>
                                        <li class="menu-item">
                                            <a title="Interior" href="#" class="tanajil-item-title">Interior</a>
                                        </li>
                                        <li class="menu-item">
                                            <a title="New Arrivals" href="#" class="tanajil-item-title">New Arrivals</a>
                                        </li>
                                        <li class="menu-item">
                                            <a title="Accessories" href="#" class="tanajil-item-title">Accessories</a>
                                        </li>
                                        <li class="menu-item">
                                            <a title="Storage" href="#" class="tanajil-item-title">Storage</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a title="Interior" href="#" class="tanajil-menu-item-title">Interior</a>
                                </li>
                                <li class="menu-item">
                                    <a title="Lighting" href="#" class="tanajil-menu-item-title">Lighting</a>
                                </li>
                                <li class="menu-item">
                                    <a title="Wheels" href="#" class="tanajil-menu-item-title">Wheels</a>
                                </li>
                                <li class="menu-item">
                                    <a title="Tires" href="#" class="tanajil-menu-item-title">Tires</a>
                                </li>
                                <li class="menu-item">
                                    <a title="Exterior" href="#" class="tanajil-menu-item-title">Exterior</a>
                                </li>
                            </ul>
                        </div> 
                    </div> *@
                    <div class="header-nav">
                        <div class="container-wapper">
                            <ul class="tanajil-clone-mobile-menu tanajil-nav main-menu " id="menu-main-menu">
@*                                 <li class="menu-item  menu-item-has-children">
                                    <a href="~/Home/Index" class="tanajil-menu-item-title" title="Home">Home</a>
                                    <span class="toggle-submenu"></span>
                                    <ul class="submenu">
                                        <li class="menu-item">
                                            <a href="index-2.html">Home 01</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="home2.html">Home 02</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="home3.html">Home 03</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="gridproducts.html" class="tanajil-menu-item-title" title="Shop">Shop</a>
                                    <span class="toggle-submenu"></span>
                                    <ul class="submenu">
                                        <li class="menu-item">
                                            <a href="gridproducts.html">Grid Fullwidth</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="gridproducts_leftsidebar.html">Grid Left sidebar</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="gridproducts_bannerslider.html">Grid Bannerslider</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="listproducts.html">List</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item  menu-item-has-children item-megamenu">
                                    <a href="#" class="tanajil-menu-item-title" title="Pages">Pages</a>
                                    <span class="toggle-submenu"></span>
                                    <div class="submenu mega-menu menu-page">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                                <div class="tanajil-custommenu default">
                                                    <h2 class="widgettitle">Shop Pages</h2>
                                                    <ul class="menu">
                                                        <li class="menu-item">
                                                            <a href="shoppingcart.html">Shopping Cart</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="checkout.html">Checkout</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="contact.html">Contact us</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="404page.html">404</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="login.html">Login/Register</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                                <div class="tanajil-custommenu default">
                                                    <h2 class="widgettitle">Product</h2>
                                                    <ul class="menu">
                                                        <li class="menu-item">
                                                            <a href="productdetails-fullwidth.html">Product Fullwidth</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="productdetails-leftsidebar.html">Product left sidebar</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="productdetails-rightsidebar.html">Product right sidebar</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item  menu-item-has-children">
                                    <a href="inblog_right-siderbar.html" class="tanajil-menu-item-title"
                                       title="Blogs">Blogs</a>
                                    <span class="toggle-submenu"></span>
                                    <ul class="submenu">
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#" class="tanajil-menu-item-title" title="Blog Style">Blog Style</a>
                                            <span class="toggle-submenu"></span>
                                            <ul class="submenu">
                                                <li class="menu-item">
                                                    <a href="bloggrid.html">Grid</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="bloglist.html">List</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="bloglist-leftsidebar.html">List Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#" class="tanajil-menu-item-title" title="Post Layout">Post Layout</a>
                                            <span class="toggle-submenu"></span>
                                            <ul class="submenu">
                                                <li class="menu-item">
                                                    <a href="inblog_left-siderbar.html">Left Sidebar</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="inblog_right-siderbar.html">Right Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> *@
                                <li class="menu-item float-end">
                                    <a href="~/Account/Login" class="tanajil-menu-item-title" title="Login">Login</a>
                                </li>
                                <li class="menu-item float-end">
                                    <a href="~/Home/Index" class="tanajil-menu-item-title" title="Home">Home</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="header-device-mobile">
        <div class="wapper">
            <div class="item mobile-logo">
                <div class="logo">
                    <a href="#">
                        <img src="~/license/assets/images/logo.png" alt="img">
                    </a>
                </div>
            </div>
            <div class="item item mobile-search-box has-sub">
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </a>
                <div class="block-sub">
                    <a href="#" class="close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    <div class="header-searchform-box">
                        <form class="header-searchform">
                            <div class="searchform-wrap">
                                <input type="text" class="search-input" placeholder="Enter keywords to search...">
                                <input type="submit" class="submit button" value="Search">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="item mobile-settings-box has-sub">
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </span>
                </a>
                <div class="block-sub">
                    <a href="#" class="close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    <div class="block-sub-item">
                        <h5 class="block-item-title">Currency</h5>
                        <form class="currency-form tanajil-language">
                            <ul class="tanajil-language-wrap">
                                <li class="active">
                                    <a href="#">
                                        <span>
                                            English (USD)
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            French (EUR)
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            Japanese (JPY)
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="item menu-bar">
                <a class=" mobile-navigation  menu-toggle" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
    @RenderBody()
   @*  <footer class="footer style7">
        <div class="container">
            <div class="container-wapper">
                <div class="row">
                    <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="widget-box">
                            <div class="single-img">
                                <a href="index-2.html"><img src="~/license/assets/images/logo-light.png" alt="img"></a>
                            </div>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="#">
                                        <span class="flaticon-placeholder"></span>45 Grand Central Terminal New
                                        York,NY 1017 United State USA
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#"><span class="fa fa-phone"></span>(+123) 456 789 - (+123) 666 888</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#"><span class="fa fa-envelope-o"></span>Contact@yourcompany.com</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#"><span class="flaticon-clock"></span>Mon-Sat 9:00pm - 5:00pm Sun : Closed</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-2">
                        <div class="tanajil-custommenu default">
                            <h2 class="widgettitle">Quick Menu</h2>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="#">New arrivals</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Life style</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Interior</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Lighting</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Wheels</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-2" style="position:relative !important;">
                        <div class="tanajil-custommenu default">
                            <h2 class="widgettitle">Information</h2>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="#">FAQs</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Track Order</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Delivery</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Contact Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Return</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="tanajil-newsletter style1">
                            <div class="newsletter-head">
                                <h3 class="title">Newsletter</h3>
                            </div>
                            <div class="newsletter-form-wrap">
                                <div class="list">
                                    Get notified of new products, limited releases, and more.
                                </div>
                                <input type="email" class="input-text email email-newsletter"
                                       placeholder="Your email letter">
                                <button class="button btn-submit submit-newsletter">SUBSCRIBE</button>
                            </div>
                        </div>
                        <div class="tanajil-socials">
                            <ul class="socials">
                                <li>
                                    <a href="#" class="social-item" target="_blank">
                                        <i class="icon fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-item" target="_blank">
                                        <i class="icon fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-item" target="_blank">
                                        <i class="icon fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 border-custom">
                        <span></span>
                    </div>
                </div>
                <div class="footer-end">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="coppyright">
                                <a href="templateshub.net">Templateshub</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="tanajil-payment">
                                <img src="~/license/assets/images/payments.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-device-mobile">
        <div class="wapper">
            <div class="footer-device-mobile-item device-home">
                <a href="index-2.html">
                    <span class="icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    Home
                </a>
            </div>
            <div class="footer-device-mobile-item device-home device-wishlist">
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </span>
                    Wishlist
                </a>
            </div>
            <div class="footer-device-mobile-item device-home device-cart">
                <a href="#">
                    <span class="icon">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        <span class="count-icon">
                            0
                        </span>
                    </span>
                    <span class="text">Cart</span>
                </a>
            </div>
            <div class="footer-device-mobile-item device-home device-user">
                <a href="login.html">
                    <span class="icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    Account
                </a>
            </div>
        </div>
    </div>
    <a href="#" class="backtotop">
        <i class="fa fa-angle-double-up"></i>
    </a> *@
    <script src="~/license/assets/js/jquery-1.12.4.min.js"></script>
    <script src="~/license/assets/js/jquery.plugin-countdown.min.js"></script>
    <script src="~/license/assets/js/jquery-countdown.min.js"></script>
    <script src="~/license/assets/js/bootstrap.min.js"></script>
    <script src="~/license/assets/js/owl.carousel.min.js"></script>
    <script src="~/license/assets/js/magnific-popup.min.js"></script>
    <script src="~/license/assets/js/isotope.min.js"></script>
    <script src="~/license/assets/js/jquery.scrollbar.min.js"></script>
    <script src="~/license/assets/js/jquery-ui.min.js"></script>
    <script src="~/license/assets/js/mobile-menu.js"></script>
    <script src="~/license/assets/js/chosen.min.js"></script>
    <script src="~/license/assets/js/slick.js"></script>
    <script src="~/license/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="~/license/assets/js/jquery.actual.min.js"></script>
    <script src="~/license/assets/js/fancybox/source/jquery.fancybox.js"></script>
    <script src="~/license/assets/js/lightbox.min.js"></script>
    <script src="~/license/assets/js/owl.thumbs.min.js"></script>
    <script src="~/license/assets/js/jquery.scrollbar.min.js"></script>
    <script src='~/license/https://maps.googleapis.com/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
    <script src="~/license/assets/js/frontend-plugin.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("script", required: false)

</body>
</html>
