@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LicenseLayout.cshtml";
}

<div class="main-content">
    <div class="fullwidth-template">
        <div class="home-slider style1 rows-space-30">
            <div class="container-fluid">
                <div class="slider-owl owl-slick equal-container nav-center"
                     data-slick='{"autoplay":true, "autoplaySpeed":9000, "arrows":true, "dots":false, "infinite":true, "speed":1000, "rows":1}'
                     data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":1}}]'>
                    <div class="slider-item style1">
                        <div class="slider-inner equal-element">
                            <div class="slider-infor">
                                <h5 class="title-small">
                                    New Arrivals!
                                </h5>
                                <h3 class="title-big">
                                    Brake Kits<br />
                                    Performance
                                </h3>
                                <div class="price">
                                    Price from:
                                    <span class="number-price">
                                        $75.00
                                    </span>
                                </div>
                                <a href="#" class="button btn-browse">Browse</a>
                                <a href="#" class="button btn-shop-the-look bgroud-style">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item style2">
                        <div class="slider-inner equal-element">
                            <div class="slider-infor">
                                <h5 class="title-small">
                                    Table Supplies Sale!
                                </h5>
                                <h3 class="title-big">
                                    Up to <span>75%</span> On All <br /> Store Items
                                </h3>
                                <div class="price">
                                    Price from:
                                    <span class="number-price">
                                        $95.00
                                    </span>
                                </div>
                                <a href="#" class="button btn-shop-now">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
